# React Native
node_modules/
ios/build/
android/app/build/
android/.gradle/
android/.idea/
android/local.properties
*.keystore
*.jks

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
*.log

# Metro / React Native
.expo/
.expo-shared/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
babel.config.js
.env
.env.*

# JetBrains IDEs
.idea/

# VS Code
.vscode/

# Bundle output
*.bundle
*.map

# CocoaPods
ios/Pods/
ios/Podfile.lock

# Gradle
.gradle/

# Misc
*.apk
*.aar
*.iml
*.swp
*.swo